<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net461" />
  <package id="Dawn.Guard" version="1.0.0" targetFramework="net461" />
  <package id="GraphQL" version="2.4.0" targetFramework="net461" />
  <package id="GraphQL.Client" version="1.0.3" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="3.1.0" targetFramework="net461" />
  <package id="GraphQL.Client.Extensions" version="3.0.0" targetFramework="net461" />
  <package id="GraphQL.Client.LocalExecution" version="3.1.0" targetFramework="net461" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="3.1.0" targetFramework="net461" />
  <package id="GraphQL.ClientBasic" version="1.7.0.1" targetFramework="net461" />
  <package id="GraphQL.Common" version="1.0.3" targetFramework="net461" />
  <package id="GraphQL.Primitives" version="3.1.0" targetFramework="net461" />
  <package id="GraphQL.Query.Builder" version="1.0.0" targetFramework="net461" />
  <package id="GraphQL.Server" version="1.7.0.1" targetFramework="net461" />
  <package id="GraphQL-Parser" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Compatibility" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Experimental" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Providers" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Runtime.Remoting" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Windows.Forms" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Telia.GraphQL.Client" version="1.1.19" targetFramework="net461" />
</packages>